:root {
  /* Text */
  --font-size: 16px;
  --font-family-1: "Times New Roman", serif;
  --font-family-2: Arial ,system-ui, sans-serif;
  --font-family-3: "Share Tech Mono", monospace;

  /* Sizes */
  --size-8px: 0.5rem;
  --size-10px: 0.625rem;
  --size-12px: 0.75rem;
  --size-14px: 0.875rem;
  --size-16px: 1rem;
  --size-18px: 1.125rem;
  --size-20px: 1.25rem;
  --size-24px: 1.5rem;
  --size-26px: 1.625rem;
  --size-32px: 2rem;
  --size-34px: 2.125rem;
  --size-40px: 2.5rem;
  --size-42px: 2.625rem;
  --size-48px: 3rem;
  --size-56px: 3.5rem;
  --size-64px: 4rem;
  --size-72px: 4.5rem;
  --size-80px: 5rem;

  /* Color tone */
  /*Main color 1*/
  --color-main-1-l1: color-mix(in srgb, var(--color-main-1) 20%, var(--color-text));
  --color-main-1-l2: color-mix(in srgb, var(--color-main-1) 40%, var(--color-text));
  --color-main-1-l3: color-mix(in srgb, var(--color-main-1) 60%, var(--color-text));
  --color-main-1-l4: color-mix(in srgb, var(--color-main-1) 80%, var(--color-text));

  --color-main-1-d1: color-mix(in srgb, var(--color-main-1) 80%, var(--color-bg));
  --color-main-1-d2: color-mix(in srgb, var(--color-main-1) 60%, var(--color-bg));
  --color-main-1-d3: color-mix(in srgb, var(--color-main-1) 40%, var(--color-bg));
  --color-main-1-d4: color-mix(in srgb, var(--color-main-1) 20%, var(--color-bg));

  /*Main color 2*/
  --color-main-2-l1: color-mix(in srgb, var(--color-main-2) 20%, var(--color-text));
  --color-main-2-l2: color-mix(in srgb, var(--color-main-2) 40%, var(--color-text));
  --color-main-2-l3: color-mix(in srgb, var(--color-main-2) 60%, var(--color-text));
  --color-main-2-l4: color-mix(in srgb, var(--color-main-2) 80%, var(--color-text));

  --color-main-2-d1: color-mix(in srgb, var(--color-main-2) 80%, var(--color-bg));
  --color-main-2-d2: color-mix(in srgb, var(--color-main-2) 60%, var(--color-bg));
  --color-main-2-d3: color-mix(in srgb, var(--color-main-2) 40%, var(--color-bg));
  --color-main-2-d4: color-mix(in srgb, var(--color-main-2) 20%, var(--color-bg));

  /*Main color 3*/
  --color-main-3-l1: color-mix(in srgb, var(--color-main-3) 20%, var(--color-text));
  --color-main-3-l2: color-mix(in srgb, var(--color-main-3) 40%, var(--color-text));
  --color-main-3-l3: color-mix(in srgb, var(--color-main-3) 60%, var(--color-text));
  --color-main-3-l4: color-mix(in srgb, var(--color-main-3) 80%, var(--color-text));

  --color-main-3-d1: color-mix(in srgb, var(--color-main-3) 80%, var(--color-bg));
  --color-main-3-d2: color-mix(in srgb, var(--color-main-3) 60%, var(--color-bg));
  --color-main-3-d3: color-mix(in srgb, var(--color-main-3) 40%, var(--color-bg));
  --color-main-3-d4: color-mix(in srgb, var(--color-main-3) 20%, var(--color-bg));

  --linearPrimarySecondary: linear-gradient(var(--color-main-1), var(--color-main-2));
  --linearPrimaryAccent: linear-gradient(var(--color-main-1), var(--color-main-3));
  --linearSecondaryAccent: linear-gradient(var(--color-main-2), var(--color-main-3));
  --linearSecondaryPrimary: linear-gradient(var(--color-main-2), var(--color-main-1));
  --radialPrimarySecondary: radial-gradient(var(--color-main-1), var(--color-main-2));
  --radialPrimaryAccent: radial-gradient(var(--color-main-1), var(--color-main-3));
  --radialSecondaryAccent: radial-gradient(var(--color-main-2), var(--color-main-3));
  --radialSecondaryPrimary: radial-gradient(var(--color-main-2), var(--color-main-1));
}
[data-theme="dark"] {
  color-scheme: dark;

  --color-main-1: #66ff66; /*#92FFB2*/
  --color-main-2: #562caf; /*#6648F3*/
  --color-main-3: #ffbc00; /*#ffaa00*/
  --color-bg: #090b11;
  --color-text: #E4E9F3;
  --color-main-1-rgb: 102, 255, 102;
  --color-main-2-rgb: 86, 44, 175;
  --color-main-3-rgb: 255, 188, 0;
  --color-bg-rgb: 9, 11, 17;
  --color-text-rgb: 228, 233, 243;
}
[data-theme="light"] {
  color-scheme: light;

  --color-main-1: #6d16b5; /*#6648F3*/
  --color-main-2: #5dd959; /*#50fa00*/
  --color-main-3: #ffaa00; /*#ffaa00*/
  --color-bg: #E4E9F3;
  --color-text: #090b11;
  --color-main-1-rgb: 109, 22, 181;
  --color-main-2-rgb: 93, 217, 89;
  --color-main-3-rgb: 255, 170, 0;
  --color-bg-rgb: 228, 233, 243;
  --color-text-rgb: 9, 11, 17;
}
html {
  background-color: var(--color-bg);
  color: var(--color-text);
  /* font-family: var(--font-family-2); */
  font-size: var(--font-size);
}
code {
  font-family:
    Menlo,
    Monaco,
    "Lucida Console",
    "Liberation Mono",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    "Courier New",
    monospace;
}

.bgc-gradient-1{
  background-color: var(--color-main-1-d3);
}

@media (min-width: 1536px) {
  .container {
    /* max-width: 1536px; */
    max-width: 1280px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1536px;
  }
}

@keyframes blink-in {
  0%,30%,60% {
      opacity: 0
  }

  15%,45%,75%,to {
      opacity: 1
  }
}

@keyframes pulse {
  0%{ opacity: 1}
  40%{ opacity: 0}
  60%{ opacity: 0}
  100%{ opacity: 1}
}

.ejemplpo-bg-gradiente-repeat{
  background: repeating-linear-gradient(115deg, var(--color-bg), var(--color-bg) 10px, var(--color-bg) 20px, var(--color-main-1) 21px, var(--color-main-1) 40px, var(--color-main-1) 41px);
}

/* :global([data-theme="light"]) {
  .boton {
    color: var(--color-text);
    outline: 1px solid var(--color-text);
  }
} */
