---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SebaOlate | Front-end developer">
	<!-- las clases que sirven para crear un .contanier con "container px-3 mx-auto py-6 md:pt-0 columns-3 gap-8" -->
	<main class="container mx-auto px-3 pt-36 pb-6">
		
	</main>
</Layout>