---
import Layout from '../layouts/Layout.astro';
import { Tranquiluxe } from "uvcanvas"
---

<Layout title="SebaOlate | Front-end developer">
	<!-- las clases que sirven para crear un .contanier con "container px-3 mx-auto py-6 md:pt-0 columns-3 gap-8" -->
	<main>		
		<section class="hero-section">
			<div class="hero-section__bg">
				<div class="hero-section__bg-1">
					<Tranquiluxe client:load/>					
				</div>
			</div>
			<div class="container mx-auto px-4 pt-36">
				<article class="hero-section__hero">
					<hgroup class="eva-heading">
						<h2 class="eva-heading__title">NEON</h2>
						<h2 class="eva-heading__title">GENESIS</h2>
						<h1 class="eva-heading__title">EVANGELION</h1>
						<h3 class="eva-heading__episode-number">EPISODE: 04</h3>
						<h4 class="eva-heading__episode-title monotype">
							Those women longed for the touch of <br>others' lips, and thus invited their kisses
						</h4>
					</hgroup>
				</article>
			</div>
		</section>

		<code>const hola:string = "EVA - 01";</code>
		<p>const hola:string = "EVA - 01";</p>

		<ol class="colores pb-3">
			<li style="--color: var(--color-main-1-l1)"></li>
			<li style="--color: var(--color-main-1-l2)"></li>
			<li style="--color: var(--color-main-1-l3)"></li>
			<li style="--color: var(--color-main-1-l4)"></li>
		</ol>
		<ol class="colores pb-36">
			<li style="--color: var(--color-main-1-d1)"></li>
			<li style="--color: var(--color-main-1-d2)"></li>
			<li style="--color: var(--color-main-1-d3)"></li>
			<li style="--color: var(--color-main-1-d4)"></li>
		</ol>
	</main>
</Layout>

<style lang="scss">
	.colores{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
		li{
			width: 100%;
			height: 100px;
			background-color: var(--color);
		}
	}

	.hero-section{
		position: relative;
		height: min(100vh,915px);
		width: 100%;
		display: block;
		&__bg{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			&-1{
				display: block;
				width: 100%;
				height: 100%;
				filter: invert(1) brightness(0.5) contrast(1.5);
			}
		}
	}
	.eva-heading__episode-number{
		font-family: var(--font-family-3);
	}
</style>