---
import Layout from '../layouts/Layout.astro';
import HeroHome from "../components/home/HeroHome.astro";

//const currentYear = new Date().getFullYear();
---

<Layout title='SebaOlate | Front-end developer'>
  <!-- las clases que sirven para crear un .contanier con "container px-3 mx-auto py-6 md:pt-0 columns-3 gap-8" -->
  <main>
    <HeroHome />

    <code>const hola:string = "EVA - 01";</code>
    <p>const hola:string = "EVA - 01";</p>

    <ol class='colores pb-3'>
      <li style='--color: var(--color-main-1-l1)'></li>
      <li style='--color: var(--color-main-1-l2)'></li>
      <li style='--color: var(--color-main-1-l3)'></li>
      <li style='--color: var(--color-main-1-l4)'></li>
    </ol>
    <ol class='colores pb-36'>
      <li style='--color: var(--color-main-1-d1)'></li>
      <li style='--color: var(--color-main-1-d2)'></li>
      <li style='--color: var(--color-main-1-d3)'></li>
      <li style='--color: var(--color-main-1-d4)'></li>
    </ol>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      molestiae, laboriosam, vitae hic voluptate repudiandae quia tempore saepe
      aliquid cupiditate debitis vero eaque veniam? Vel in accusamus repudiandae
      eos est. Necessitatibus voluptatum nesciunt cum exercitationem ducimus
      error quisquam est esse! Omnis placeat dignissimos neque expedita ducimus
      illo doloribus corporis. Saepe earum, nam expedita praesentium odio porro
      ut animi tenetur in? Ex non praesentium error quae distinctio nobis
      dolores accusamus, aliquam animi. Incidunt sed doloribus dolorem eligendi
      non maxime nisi voluptatibus id cumque cupiditate, reprehenderit beatae,
      consequuntur perspiciatis. Eos, nulla quod! Unde magnam amet earum
      excepturi architecto ducimus aliquam quidem accusantium similique velit
      porro reprehenderit nemo pariatur minus obcaecati voluptates labore
      commodi, adipisci asperiores saepe minima et. Quos quia totam voluptates!
      Quo animi adipisci suscipit? Distinctio dolore ipsam earum nobis numquam
      non. Natus excepturi quaerat quasi? Iusto, illo animi sunt, quisquam saepe
      error dolorum ducimus atque, dicta est beatae excepturi laudantium.
      Praesentium totam repellendus unde optio asperiores explicabo quia
      distinctio nostrum exercitationem vitae error, molestiae expedita
      reiciendis magnam repudiandae blanditiis animi facere! Voluptatum ut
      obcaecati non exercitationem, eum molestiae odio molestias! Dicta
      recusandae accusantium iusto similique voluptates consectetur. Porro nisi
      sint dignissimos! Quis adipisci suscipit laudantium perspiciatis amet
      quasi, cum voluptates aspernatur, pariatur inventore vel, iste explicabo
      est. Reprehenderit, veniam natus. Quibusdam quisquam architecto fugit
      illum dolores quidem non eius, commodi mollitia dolor quia consequuntur
      voluptate unde itaque quis expedita nisi labore odio, odit dignissimos
      maiores. Minus esse placeat atque illo. Officiis voluptatem soluta
      exercitationem qui eveniet ab saepe, praesentium accusantium esse non,
      perspiciatis sequi quidem aliquam eligendi optio laborum quibusdam.
      Voluptate iste quo tempore iure possimus eius officia ullam quod.
      Distinctio voluptates omnis ipsum voluptas nemo dolorum itaque ipsa
      reiciendis suscipit voluptate fuga assumenda nihil illo ipsam commodi
      officiis ab saepe labore magni dignissimos, odit amet eum sunt
      accusantium. Nam? Id fugiat deleniti officiis vel dolore, ab quibusdam
      velit consequuntur accusamus? A quae, et, error sunt deserunt atque natus
      possimus explicabo quam quibusdam, cumque enim pariatur consectetur. Est,
      accusantium nihil. Officia voluptates esse saepe voluptas, quos a id,
      temporibus ipsam reprehenderit quaerat quod asperiores nihil magnam magni
      delectus inventore, minus minima explicabo doloribus ratione? Iusto
      maiores ipsum rem molestias quas. Assumenda perferendis sunt minima
      mollitia sequi obcaecati ipsa nisi, voluptatum nostrum, ad ducimus velit
      repellendus. Dignissimos mollitia dolorem aliquid impedit saepe aut iusto,
      aspernatur dolores, accusamus nulla voluptate provident libero? Rem odio
      iusto, aliquid quod placeat, excepturi ex sunt sapiente repudiandae illo
      repellat eveniet, obcaecati sit a repellendus officia neque alias dolores
      magnam asperiores nobis aspernatur. Ullam recusandae adipisci delectus?
      Debitis harum tenetur obcaecati facilis iusto enim dignissimos voluptates
      quo distinctio nulla ab, voluptas, ipsum voluptatem. Exercitationem
      voluptas voluptate quis omnis recusandae nostrum maxime. Eum debitis
      voluptas enim? Quaerat, mollitia. Illum aliquam porro rem dolore
      explicabo, harum minus esse totam voluptatem. Velit ut harum eligendi
      ipsum voluptas veniam iste fugit ex qui, maxime praesentium. Placeat ex
      debitis voluptatibus fugit accusamus. Iure voluptate illum possimus, quod
      amet, temporibus vitae ex corporis laudantium accusantium recusandae. Ad
      eius dolor libero labore, quibusdam, officia doloribus animi quas, aliquam
      earum ut natus velit id minus! Corrupti aliquam optio voluptatibus
      dignissimos repellat excepturi modi eveniet recusandae atque, sunt
      expedita tempora qui accusamus aliquid provident exercitationem doloribus
      error aspernatur id quisquam dolores dolorum? Incidunt iusto nulla magnam.
      Repellendus at officiis animi. Aliquam earum possimus aut maxime! Vitae,
      vel possimus! Mollitia provident quod eligendi dignissimos magnam ea ex,
      ratione placeat nesciunt fugiat aliquid! Vero autem nam ab aperiam!
      Aperiam temporibus laudantium harum, eaque eum enim quod? Suscipit,
      cupiditate est veniam sit eius nisi illo repellendus obcaecati facere
      labore porro. Eaque illo dolorum provident excepturi, sint dolorem odio
      sed!
    </p>
  </main>
</Layout>

<style lang='scss'>
  .colores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    li {
      width: 100%;
      height: 100px;
      background-color: var(--color);
    }
  }
</style>