---
import { Image } from 'astro:assets';
import { Tranquiluxe } from 'uvcanvas';

import Layout from '../layouts/Layout.astro';

import mainImg from '@images/foto-seba-home.png';

//const currentYear = new Date().getFullYear();
---

<Layout title='SebaOlate | Front-end developer'>
  <!-- las clases que sirven para crear un .contanier con "container px-3 mx-auto py-6 md:pt-0 columns-3 gap-8" -->
  <main>
    <section class='hero-section'>
      <div class='hero-section__bg'>
        <div class='hero-section__bg-1'>
          <Tranquiluxe client:load />
        </div>
      </div>
      <div class='container mx-auto px-2 md:px-4'>
        <article class='hero-section__hero'>
          <div class='eva-heading pt-14 pb-20 px-4 md:px-20 md:pt-20'>
            <hgroup>
              <h2 class='eva-heading__title eva-heading__title--2'>
                Sebastián
              </h2>
              <h2 class='eva-heading__title eva-heading__title--2'>Olate H.</h2>
              <h1 class='eva-heading__title eva-heading__title--1'>
                Front-end
              </h1>
              <h3 class='eva-heading__episode-number'></h3>
              <h4 class='eva-heading__episode-title'>Desarrollador Web</h4>
              <h4 class='eva-heading__episode-title'>CSS Senior</h4>
            </hgroup>
          </div>
          <figure class='hero-section__img-container'>
            <Image
              src={mainImg}
              class='hero-section__img'
              alt='foto Sebastian Olate'
            />
          </figure>
        </article>
      </div>
    </section>

    <code>const hola:string = "EVA - 01";</code>
    <p>const hola:string = "EVA - 01";</p>

    <ol class='colores pb-3'>
      <li style='--color: var(--color-main-1-l1)'></li>
      <li style='--color: var(--color-main-1-l2)'></li>
      <li style='--color: var(--color-main-1-l3)'></li>
      <li style='--color: var(--color-main-1-l4)'></li>
    </ol>
    <ol class='colores pb-36'>
      <li style='--color: var(--color-main-1-d1)'></li>
      <li style='--color: var(--color-main-1-d2)'></li>
      <li style='--color: var(--color-main-1-d3)'></li>
      <li style='--color: var(--color-main-1-d4)'></li>
    </ol>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestiae, laboriosam, vitae hic voluptate repudiandae quia tempore saepe aliquid cupiditate debitis vero eaque veniam? Vel in accusamus repudiandae eos est.
    Necessitatibus voluptatum nesciunt cum exercitationem ducimus error quisquam est esse! Omnis placeat dignissimos neque expedita ducimus illo doloribus corporis. Saepe earum, nam expedita praesentium odio porro ut animi tenetur in?
    Ex non praesentium error quae distinctio nobis dolores accusamus, aliquam animi. Incidunt sed doloribus dolorem eligendi non maxime nisi voluptatibus id cumque cupiditate, reprehenderit beatae, consequuntur perspiciatis. Eos, nulla quod!
    Unde magnam amet earum excepturi architecto ducimus aliquam quidem accusantium similique velit porro reprehenderit nemo pariatur minus obcaecati voluptates labore commodi, adipisci asperiores saepe minima et. Quos quia totam voluptates!
    Quo animi adipisci suscipit? Distinctio dolore ipsam earum nobis numquam non. Natus excepturi quaerat quasi? Iusto, illo animi sunt, quisquam saepe error dolorum ducimus atque, dicta est beatae excepturi laudantium.
    Praesentium totam repellendus unde optio asperiores explicabo quia distinctio nostrum exercitationem vitae error, molestiae expedita reiciendis magnam repudiandae blanditiis animi facere! Voluptatum ut obcaecati non exercitationem, eum molestiae odio molestias!
    Dicta recusandae accusantium iusto similique voluptates consectetur. Porro nisi sint dignissimos! Quis adipisci suscipit laudantium perspiciatis amet quasi, cum voluptates aspernatur, pariatur inventore vel, iste explicabo est. Reprehenderit, veniam natus.
    Quibusdam quisquam architecto fugit illum dolores quidem non eius, commodi mollitia dolor quia consequuntur voluptate unde itaque quis expedita nisi labore odio, odit dignissimos maiores. Minus esse placeat atque illo.
    Officiis voluptatem soluta exercitationem qui eveniet ab saepe, praesentium accusantium esse non, perspiciatis sequi quidem aliquam eligendi optio laborum quibusdam. Voluptate iste quo tempore iure possimus eius officia ullam quod.
    Distinctio voluptates omnis ipsum voluptas nemo dolorum itaque ipsa reiciendis suscipit voluptate fuga assumenda nihil illo ipsam commodi officiis ab saepe labore magni dignissimos, odit amet eum sunt accusantium. Nam?
    Id fugiat deleniti officiis vel dolore, ab quibusdam velit consequuntur accusamus? A quae, et, error sunt deserunt atque natus possimus explicabo quam quibusdam, cumque enim pariatur consectetur. Est, accusantium nihil.
    Officia voluptates esse saepe voluptas, quos a id, temporibus ipsam reprehenderit quaerat quod asperiores nihil magnam magni delectus inventore, minus minima explicabo doloribus ratione? Iusto maiores ipsum rem molestias quas.
    Assumenda perferendis sunt minima mollitia sequi obcaecati ipsa nisi, voluptatum nostrum, ad ducimus velit repellendus. Dignissimos mollitia dolorem aliquid impedit saepe aut iusto, aspernatur dolores, accusamus nulla voluptate provident libero?
    Rem odio iusto, aliquid quod placeat, excepturi ex sunt sapiente repudiandae illo repellat eveniet, obcaecati sit a repellendus officia neque alias dolores magnam asperiores nobis aspernatur. Ullam recusandae adipisci delectus?
    Debitis harum tenetur obcaecati facilis iusto enim dignissimos voluptates quo distinctio nulla ab, voluptas, ipsum voluptatem. Exercitationem voluptas voluptate quis omnis recusandae nostrum maxime. Eum debitis voluptas enim? Quaerat, mollitia.
    Illum aliquam porro rem dolore explicabo, harum minus esse totam voluptatem. Velit ut harum eligendi ipsum voluptas veniam iste fugit ex qui, maxime praesentium. Placeat ex debitis voluptatibus fugit accusamus.
    Iure voluptate illum possimus, quod amet, temporibus vitae ex corporis laudantium accusantium recusandae. Ad eius dolor libero labore, quibusdam, officia doloribus animi quas, aliquam earum ut natus velit id minus!
    Corrupti aliquam optio voluptatibus dignissimos repellat excepturi modi eveniet recusandae atque, sunt expedita tempora qui accusamus aliquid provident exercitationem doloribus error aspernatur id quisquam dolores dolorum? Incidunt iusto nulla magnam.
    Repellendus at officiis animi. Aliquam earum possimus aut maxime! Vitae, vel possimus! Mollitia provident quod eligendi dignissimos magnam ea ex, ratione placeat nesciunt fugiat aliquid! Vero autem nam ab aperiam!
    Aperiam temporibus laudantium harum, eaque eum enim quod? Suscipit, cupiditate est veniam sit eius nisi illo repellendus obcaecati facere labore porro. Eaque illo dolorum provident excepturi, sint dolorem odio sed!</p>
  </main>
</Layout>

<script>
  const currentYear = new Date().getFullYear();
  const episodeNumberElement = document.querySelector('.eva-heading__episode-number');
  episodeNumberElement && (episodeNumberElement.textContent = `EPISODIO: ${currentYear}`);
</script>
<style lang='scss'>
  .colores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    li {
      width: 100%;
      height: 100px;
      background-color: var(--color);
    }
  }

  .hero-section {
    position: relative;
    //height: min(100vh, 915px);
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      &-1 {
        display: block;
        width: 100%;
        height: 100%;
        filter: invert(1) brightness(0.5) contrast(1.5);
      }
    }
    &__hero {
      padding-top: 120px;
      //padding-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      //flex-direction: column;
    }
    .eva-heading {
      position: relative;
      flex-basis: 100%;
      //padding-left: 12vw;
      background-color: rgba(var(--color-bg-rgb), 0.9);
      text-shadow:
        0 0 2px #e19a86,
        0 0 1.5px #854535,
        0 0 1.5px #5c150c;
      font-family: var(--font-family-1);
      font-weight: bold;
      display: grid;
      place-items: center;
      clip-path: polygon(
        5.49% 0%,
        61.7% 0%,
        67.2% 9.5%,
        100% 9.5%,
        100% 100%,
        66.7% 100%,
        60.7% 92.5%,
        0% 92.3%,
        0% 7.35%
      );
      &__title {
        transform: scale(1, 1.5);
        line-height: 1.2em;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        &--1 {
          font-size: clamp(3rem, 5vw, 5.5rem);
          background: var(--linearSecondaryPrimary);
          background-clip: text;
          color: transparent;
          text-shadow: none;
          white-space: nowrap;
        }
        &--2 {
          font-size: clamp(2.2rem, 3.6vw, 4rem);
        }
      }
      &__episode-number {
        font-family: var(--font-family-2);
        font-size: clamp(1.25rem, 2.1vw, 2.3rem);
        transform: scale(1, 1.5);
        letter-spacing: -0.01em;
        margin: 10px 0 16px 0;
      }
      &__episode-title {
        transform: scale(1, 1.3);
        font-size: clamp(1.2rem, 1.85vw, 2rem);
        line-height: 1.5em;
        text-transform: uppercase;
      }
    }
    &__img-container {
      display: block;
      width: min(100%, 300px);
      height: 400px;
      //background-color: var(--color-main-2);
      clip-path: polygon(
        calc(0% + 50px) 0%,
        100% 0%,
        100% calc(100% - 50px),
        calc(100% - 50px) 100%,
        0% 100%,
        0% calc(0% + 50px)
      );
      transform: translate(0vw, -7vh);
      background: linear-gradient(
        rgba(var(--color-main-1-rgb), 0.5),
        rgba(var(--color-main-2-rgb), 0.95)
      );
      backdrop-filter: blur(6px);
    }
    &__img {
      filter: drop-shadow(2px 4px 6px var(--color-bg));
    }
    @media screen and (width >= 768px) {
      min-height: 80vh;
      &__hero {
        display: grid;
        grid-template-areas: 'stack';
        grid-template-columns: 1fr;
        padding-top: 100px;
      }
      .eva-heading {
        clip-path: polygon(
          50% 0%,
          56% 10%,
          100% 10%,
          100% calc(100% - 50px),
          calc(100% - 50px) 100%,
          66% 100%,
          60% 90%,
          0% 90%,
          0% 0%
        );
        grid-area: stack;
        place-items: start;
      }
      &__img-container {
        grid-area: stack;
        justify-self: end;
        transform: translate(2%, 7%);
      }
    }
    @media screen and (width >= 1024px) {
      min-height: 90vh;
      &__img-container {
        height: 450px;
        transform: translate(-3.5vw, 1.5vw);
      }
    }
    @media screen and (width >= 1280px) {
      &__hero {
        grid-template-columns: 1100px;
      }
    }
    @media screen and (width >= 1536px) {
      min-height: 95vh;
      &__img-container {
        height: 540px;
        width: 360px;
        transform: translate(-1.5vw, 4.5vw);
      }
    }
  }
  :global([data-theme='light']) {
    .hero-section{
      &__bg-1 {
        filter: invert(0) brightness(1.5) contrast(0.7) hue-rotate(-35deg);
      }
      .eva-heading{
        text-shadow: 0 0 2px var(--color-main-1-d4),0 0 1.5px var(--color-main-1-d1);
      }
    }
  }
</style>
