---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/img/favicon-solate.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/a236ea0636.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Header />
		
		<slot />

	</body>
</html>
<style is:global>
	:root {
		--font-size: 16px;
		--font-family: system-ui, sans-serif;
	}
	[data-theme="dark"] {
		color-scheme: dark;

		--main-color: #00facb;
		--bg-color: #111c26;
		--text-color: #F2EEE6;
	}
	[data-theme="light"] {
		color-scheme: light;

		--main-color: #50fa00;
		--bg-color: #F2EEE6;
		--text-color: #111c26;
	}
	html {
		background-color: var(--bg-color);
		color: var(--text-color);
		font-family: var(--font-family);
		font-size: var(--font-size);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
