---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<script>
	/* funcion para guardar y cargar el tema en el local storage */
	function loadTheme() {
		const savedTheme = localStorage.getItem("theme") || "dark";
		document.documentElement.setAttribute("data-theme", savedTheme);
	}

	loadTheme()
</script>

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		
		<slot />

	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		
		--font-family: system-ui, sans-serif;
		--main-color: #00facb;
	}
	[data-theme="dark"] {
		color-scheme: dark;

		--bg-color: #111c26;
		--text-color: #F2EEE6;
	}
	[data-theme="light"] {
		color-scheme: light;

		--bg-color: #F2EEE6;
		--text-color: #111c26;
	}
	html {
		font-family: var(--font-family);
		background-color: var(--bg-color);
		color: var(--text-color);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
